/* Navbar styling */
.navbar {
    background-color: #7b4b4b;
    color: white;
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar-item a:hover {
    color: #ff6f61;
  }
  